/*

@font-face {
  font-family: "glacial-indifference";
  src: url("/build/fonts/glacial-indifference.regular.otf");
}

* {
  margin: 0;
  padding: 0;
}

body {
  color: #ffffff;
  background: #333333;
  font-family: "glacial-indifference", sans-serif;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: #ffffff;
}

button {
  border: none;
  color: #ffffff;
  font-family: "glacial-indifference", sans-serif;
  cursor: pointer;
}

a:hover,
button:hover {
  color: yellow;
}

.scroll-arrow {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 50px;
  cursor: pointer;
}

.header {
  display: flex;
  flex-direction: column;
  background: #cc0100;
}
.banner {
  width: 100%;
  height: auto;
}

.navbar {
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.title {
  padding: 0 10px;
}

.title > p {
  letter-spacing: 0.5em;
}

.menu {
  padding: 10px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
}

.menu-item {
  padding: 0 35px;
  text-align: center;
}

.menu-item span {
  font-weight: bold;
  font-size: 20px;
}

.menu-item p {
  margin-top: 5px;
}

.social {
  display: flex;
  align-items: center;
  padding: 10px;
}

.social a {
  padding: 10px;
}

.social img {
  width: 30px;
}

.waves {
  background: url("/build/images/vague.png");
  height: 75px;
}

.container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.logs {
  width: 70%;
}

.log {
  padding: 25px;
}

.log-header {
  display: flex;
}

.log-header > * {
  padding: 0 10px;
}

.log-decoration {
  height: 50px;
}

.log-infos {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.log-media > * {
  max-width: 100%;
  padding: 15px 0;
}

.log-text {
  text-align: justify;
}

.hidden {
  display: none;
}

.separator {
  height: 10px;
  margin-top: 20px;
  background: url("/build/images/separation.png");
}

.log-translation {
  display: flex;
  align-items: flex-end;
}

.log-translation button {
  background: #cc0100;
  padding: 2px 30px;
  margin: 0 10px;
  border-radius: 20px;
  text-transform: uppercase;
}

.comments {
  width: 350px;
  margin: 25px 0;
}

.comment-form,
.comment {
  padding: 25px;
}

.comment-form .form-group {
  margin: 10px 0;
}

.comment-form input,
.comment-form textarea,
.comment-form button {
  background: #3a3a3a;
  padding: 6px;
  font-family: "glacial-indifference", sans-serif;
  border: 1px solid #cc0100;
}

.comment-form input,
.comment-form input::placeholder,
.comment-form textarea,
.comment-form textarea::placeholder,
.comment-form button {
  color: #cc0100;
}
.comment-form input:hover,
.comment-form textarea:hover,
.comment-form button:hover {
  background: #7f7b7b;
}

.comment-form input,
.comment-form h2 {
  text-align: center;
}

.comment-form textarea {
  resize: vertical;
}

.comment-form form {
  display: flex;
  flex-direction: column;
}

.comment-author {
  font-weight: bold;
}

.comment-content {
  text-align: justify;
  margin-top: 10px;
}

.comments .scroll-arrow img {
  width: 50px;
}

.form-wrapper > h1 {
  text-align: center;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.footer {
  background: #cc0100;
}

.footer .waves {
  transform: rotate(180deg);
}

.copyright {
  display: flex;
  align-items: center;
}

.copyright-item {
  padding: 0 5px;
}

.copyright-text h2 {
  display: inline-block;
}

.footer .content {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navToTop {
  text-align: center;
}
 */
