@font-face {
  font-family: "glacial-indifference";
  src: url("/build/fonts/glacial-indifference.regular.otf");
}

* {
  margin: 0;
  padding: 0;
}

body {
  color: #ffffff;
  background: #333333;
  font-family: "glacial-indifference", sans-serif;
}

a {
  text-decoration: none;
  color: #ffffff;
}

/* HEADER */

.header {
  display: flex;
  flex-direction: column;
  background: url("/build/images/banniere.png");
}

.navbar {
  justify-content: space-between;
  display: flex;
  margin-bottom: 10px;
}

.title {
  padding: 0 10px;
}

.title > p {
  letter-spacing: 0.5em;
}

.menu {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.menu-item {
  padding: 0 35px;
  text-align: center;
}

.menu-item span {
  font-weight: bold;
  font-size: 20px;
}

.menu-item p {
  margin-top: 5px;
}

.social {
  display: flex;
  padding: 10px;
}

.social a {
  padding: 10px;
}

.social img {
  width: 30px;
}

.waves {
  background: url("/build/images/vague.png");
  height: 75px;
}

/* MAIN CONTENT */

.container {
  display: flex;
  justify-content: space-around;
}

/* LOGS */

.logs {
  width: 60%;
}

.log {
  padding: 25px;
}

.log-header {
  display: flex;
}

.log-header > * {
  padding: 0 10px;
}

.log-decoration {
  width: 100px;
}

.log-media > * {
  max-width: 100%;
  padding: 15px 0;
}

.log-text {
  text-align: justify;
}

.log-separator {
  height: 10px;
  margin-top: 20px;
  background: url("/build/images/separation.png");
}

/* COMMENTS */

.comments {
  background: black;
  height: 500px;
  width: 30%;
}

/* FORM */
.form-wrapper {
  /* width: 100%; */
  margin: 20px 0;
}

.form-group > div {
  display: flex;
  flex-direction: column;
}

#form_content {
  height: 100px;
  width: 700px;
}

/* FOOTER */

.footer {
  background: url("/build/images/banniere.png");
}

.footer .waves {
  transform: rotate(180deg);
}

.copyright {
  display: flex;
  align-items: center;
}

.copyright-item {
  padding: 0 5px;
}

.copyright-text h2 {
  display: inline-block;
}

.footer .content {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navToTop {
  text-align: center;
}
